.mosaicContainer {
    width: 100%;
    height: 90vh;
    background-color: rgb(218, 218, 218);
}

.toolBar {
    width: 100%;
    height: 4vh;
}


.mosaic-window {
    color: red;
    display: flex;
    background-color: green;
}

.mosaic-window .mosaic-window-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

.mosaic-window .mosaic-window-toolbar,
.mosaic-preview .mosaic-window-toolbar {
    background: green;
}

.mosaic .mosaic-window .mosaic-window-toolbar.draggable, 
.mosaic .mosaic-preview .mosaic-window-toolbar.draggable:hover {
    background-color: rgba(20, 20, 20, 1);
    color: white;
}

.mosaic-window .mosaic-window-toolbar .mosaic-window-title {
    color: white;
}


.mosaic-window-body > canvas {
    width: 100%;
    height: 100%;
    background-color: red;
}

.window-button {
    aspect-ratio: 1 / 1;
}